extends layout

block content
    h1(class="booklist") !{title}

    div(class="main" id="genre")
        ul
            each val in genre
                li
                    a(href="genre/" + val._id) !{val.name}